.headerContainer {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  /* border-bottom: 1px solid var(--border); */
  justify-content: space-between;
}

.firstDive {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.firstDive .css-1d6w9lk-MuiButtonBase-root-MuiIconButton-root {
  height: 2.375rem;
  min-width: 2.375rem;
  width: 2.375rem;
  padding: 0;
  font-size: .9375rem;
  overflow: hidden;
  position: relative;
  line-height: normal;
  background-color: var(--gray);
  color: val(--white);
  transition: all .15s linear;
}

.firstDive .css-i4bv87-MuiSvgIcon-root {
  display: flex;
  justify-content: center;
  width: 17px;
  color: var(--white);
  opacity: .7;
}

.firstDive .css-8u39c-MuiTypography-root {
  text-transform: capitalize;
  font-family: montserrat, helvetica neue, Arial, sans-serif;
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
  color: var(--gray);
  font-weight: 400;
}

.firstDive .subheading {
  display: flex;
  gap: 10px;
  align-items: center;
}


.secondDiv {
  display: flex;
  align-items: center;
  gap: 3px;
}

.secondDiv .serach {
  padding-right: 8px;
  opacity: 1;
  background: transparent;
}

.secondDiv .serach .serachdivefirst {
  display: flex;
  align-items: center;
  background-color: white !important;
  border-radius: 3px;
  border: 1px solid var(--border);
}

.secondDiv .serach .serachdivefirst .box {
  line-height: 0;
  padding: 0.5rem 0.625rem;
  width: 2.4375rem;
  height: 100%;
}

.secondDiv .serach .serachdivefirst .box .icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  color: var(--gray);
  font-weight: 700;
  font-size: 1.25rem !important;
}

.secondDiv .serach .serachdivefirst .inputbox {
  box-sizing: border-box;
  position: relative;
  cursor: text;
  pointer-events: auto;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  width: 100% !important;
  font-size: 0.875rem !important;
}

.secondDiv .serach .serachdivefirst .inputbox input {
  
  border: 0px;
  box-sizing: content-box;
  background: none;
  margin: 0px;
  display: block;
  min-width: 0px;
  height: 1.375rem;
  width: 100% !important;
  padding: 0px !important;
}

.secondDiv .serach .serachdivefirst .inputbox :focus {
  outline: 0;
}

/* .secondDiv .signInbox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.secondDiv .signInbox svg{
  color: var(--black);
  opacity: .6;
} */



/* User Header start */

.HeaderUser{
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
  background-color: transparent!important;
  box-shadow: none;
  padding-bottom: 0.625rem;
  min-height: 53px;
  margin-bottom: 20px;
  right: 0;
  left: 0;
  transition: all .3s ease 0s;
  top: 0;
  border-bottom: 1px solid transparent;
  margin-top: 25px;
}

.HeaderUser .containerheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.HeaderUser .containerheader .navbar-wrapper a{
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
  color: var(--white);
}

.HeaderUser .containerheader .mainleft{
  display: flex!important;
  align-items: center;
  flex-basis: auto;
}

.HeaderUser .containerheader .mainleft ul{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.HeaderUser .containerheader .mainleft ul li svg{
  margin-right: 4px;
  width: .8em;
  height: .8em;
}
.HeaderUser .containerheader .mainleft ul li a{
  text-transform: capitalize;
  color: var(--white)!important;
  font-size: 16px;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
  margin-right: 3px;
}